[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pymysql = "*"
pip = "*"
install = "*"
mysql-connector-python = "*"
colorama = "*"
python-dotenv = "*"
flake8 = "*"
pytest = "*"
isort = "*"
cerberus = "*"
flask-cors = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
